<body class="bg-light">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">
                  {{cadastrando ? 'Cadastro de Novo Usuário' : 'Entrar'}}
                  </h3>
                </div>
                <div class="card-body">
                  <div class="alert alert-success" *ngIf="mensagemSucesso">
                    {{ mensagemSucesso }}
                  </div>
                  <div class="alert alert-danger" *ngFor="let erro of errors">
                    {{ erro }}
                  </div>
                  <form #loginForm="ngForm" (submit)="onSubmit();">
                    <div class="form-group"><label class="small mb-1" for="inputUsername">Login</label>
                      <input class="form-control py-4" id="inputUsername" type="text"
                      name="username" [(ngModel)]="username"
                        placeholder="Digite seu email " autocomplete="off" />
                    </div>
                    <div class="form-group">
                      <label class="small mb-1" for="inputPassword">Senha</label>
                      <input class="form-control py-4"
                             name="password"
                             [(ngModel)]="password"
                        id="inputPassword" type="password" placeholder="Digite sua Senha" />
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox"><input class="custom-control-input"
                          id="rememberPasswordCheck" type="checkbox" />
                        <label class="custom-control-label" *ngIf="!cadastrando" for="rememberPasswordCheck">Relembre-me</label>
                      </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                      <a class="small" *ngIf="!cadastrando"
                        href="password.html">Esqueceu sua senha??</a>
                      <button class="btn btn-primary" *ngIf="!cadastrando" type="submit">Login</button>

                     <div class="form-group  justify-content-between mt-4 mb-0" *ngIf="cadastrando">
                      <button class="btn btn-success"
                      type="button" (click)="cadastrar()"
                      >Cadastrar</button>
                      <button class="btn btn-danger ml-1" (click)="cancelaCadastro()" type="button" >Cancelar</button>
                     </div>
                  </div>
                  </form>
                </div>
                <div class="card-footer text-center">
                  <div class="small">
                    <a (click)="preparaCadastrar($event)"*ngIf="!cadastrando"  href="">Não possui usuário? Cadastre-se</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>
